body{
    box-sizing: border-box;
    background-image: url('../rr.jpg');
    background-size: cover;
    height: 100vh;
    /* 'http://www.baltana.com/files/wallpapers-20/Black-Cool-2020-High-Definition-Wallpaper-48858.jpg */
}
main {
    display: flex;
    justify-content: 30px;
}
section ul {
    line-height: 1.5;
    margin-left: 10px;
    font-size: large;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
     color:yellow;
}
section ol {
    line-height: 1.5;
    margin-left: 600px;
    font-size: large;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
     color:yellow;
}
section li:hover {
    font-size:large;
    font-weight: bolder;
    background-color: rgb(30, 107, 81);
}
section p {
    color: gold;
    justify-content: 500px;
    
    
}