html {
    background-color:#f3f3f3;}
body{
    box-sizing: border-box;
    background-image: url('http://www.baltana.com/files/wallpapers-20/Black-Cool-2020-High-Definition-Wallpaper-48858.jpg');
    background-size: cover;
    height: 100vh;
}
main {
    display: flex;
    justify-content: 30px;
}
section ul {
    display: inline-block;
    background-color: #283747;
    width: auto;
    margin-left: 10px;
    font-size: large;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
     color:yellow;
}
section ol {
    display: inline-block;
    background-color: #283747;
    width: auto;
    margin-left: 600px;
    font-size: large;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
     color:yellow;
}
section p {
    color:yellow;
    margin-right: 200px;
    
}