html {
    background-color: blueviolet;
}
main {
    display: flex;
    justify-content: 30px;
}
section ul {
    display: inline-block;
    background-color: darkgreen;
    width: auto;
    margin-left: 10px;
    font-size: large;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
     color:yellow;
}
section ol {
    display: inline-block;
    background-color: darkgreen;
    width: auto;
    margin-left: 10px;
    font-size: large;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
     color:yellow;
}